body {
  font-family: Arial, sans-serif;
  background-color: #151716; /* Koyu arka plan rengi */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.container {
  background-color: #f1fbff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(78, 60, 212, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-sizing: border-box; /* Taşmaları engellemek için ekledimn */
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Taşmaları engellemek için ekledim */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box; /* Taşmaları engellemek için ekledim */
}

button:hover {
  background-color: #45a068;
}

.consumption-display {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}
